.List {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.Item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  margin-bottom: 16px;
  &_h {
    grid-column: 1;
    margin: 0;
  }
  &_place {
    display: flex;
    gap: 8px;
    margin: 0;
    grid-column: 1;
    font-size: 0.8em;
  }

  &_fishingType {
    margin: 0;
    font-size: 0.8rem;
  }

  &_prefecture {
    margin: 0;
  }
  &_area {
    margin: 0;
  }
}
