.Layout {
  &_util {
    position: fixed;
    left: 0;
    top: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 16px 0;
    z-index: 1;
  }

  &_content {
    padding-top: 56px;
  }

  &_map {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 32px;
  }

  &_shipList {
    padding: 0 2rem;
  }
}
